{% extends "courses/base.html" %} {% block content %}
 <a href="{% url 'education:courses:create' %}">Add new</a>


<table style="width: 70%" border=1>
    <tr>
        <th>CourseName</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
    </tr>
    <tr>
    {% for course in courses %}
        <td>
            <a href="{% url 'education:courses:detail' course.id %}">{{ course.name }}</a>
        </td>
        <td>
            {{ course.description }}
        </td>
        <td>
            {{ course.start_date }}
        </td>
        <td>
            {{ course.end_date }}
        </td>
        <td>
            {{ course.duration }} 
        </td>
        <td>
            <p>
                <form method="POST" action="{% url 'education:courses:delete' course.id %}">
                    {% csrf_token %}
                    <button>Delete</button>
                </form>
            </p>
        </td>
    </tr>
    {% endfor %}
    
</table>
{% endblock %}